<link 
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Megrim|Raleway" rel="stylesheet">

<div class="header">
  <div class="container">
      <a href="/home">
        <i class="fa fa-user-secret fa-3x" aria-hidden="true"></i><span style="font-family: 'Megrim'; color:white; font-size: 48pt;"> ephemeral</span>
      </a>
  </div>
</div>

<div class="create">
  <div class="container-fluid">
   	<%= form_for(@message) do |f| %>  
  		<div class="field"> 
    		<%= f.label :message %> 
    		<%= f.text_area :body %><br><br>
            <%= f.label :email %>
            <%= f.text_field :email %><br><br>
            <%= f.label :password %>
            <%= f.password_field :password %>
            <%= require "SecureRandom"
                token = SecureRandom.hex(10)
                f.hidden_field :token, :value => token %>
  		</div> 
  		<div class="actions create-btn"> 
    		<%= f.submit "Create" %> 
  		</div> 
		<% end %>
      
      <div class="short-intro">
        <p>Send and receive secure, automatically deleted messages with Ephemeral.<br> <a href="/about">Learn more here</a></p><br>
      </div>
  </div>
</div>